body {
    font-family: 'Courier New', Courier, monospace;
}

.home__btn__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__link__btn {
    margin: .5em;
    padding: .5em;
    width: 120px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.home__link__btn:hover {
    transition: .5s;
    background-color: #ccc;
    color: #222;
}

.group__card {
    margin: 1em;
    padding: 1em;
    background-color: #444;
    border: none;
    border-radius: 10px;
}

.full__list__container {
    margin: 1em 0;
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.open__btn {
    padding: .25em .75em;
    border: none;
    border-radius: 10px;
    background-color: #ccc;
    color: #222;
    cursor: pointer;
}

.open__btn:hover {
    transition: .5s;
    background-color: #ddd;
    color: #333;
}

.full__list__box {
    /* display: none; */
}

.closed {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s ease;
    will-change: transform
}

.open {
    height: 500px;
    overflow: hidden;
    transition: all 0.5s ease;
    will-change: transform;
}