.landing__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/assets/headerbg.svg');
    background-size: 50%; /* Scale the SVG to 50% of its original size */
    background-repeat: no-repeat    ;
    opacity: 0.2;
    pointer-events: none;
  }

.landing__content {
    text-align: center;
    font-size: 16px
}

.landing__box {
    margin: 1em;
}

.landing__link__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 800px) {
    .landing__link__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 1em;
    }
    .landing__content {
        text-align: center;
        font-size: 36px
    }
}

.landing__french {
    width: 200px;
}
  
.landing__spanish {
    width: 200px;
}