.test__card {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    padding: 2em;
    /* background-color: #444; */
    border-radius: 10px ;
}

.test__instruction {
    margin: .5em 0;
    font-size: 22px;
}

.test__question {
    margin: .5em 0;
    font-size: 32px;
}

.test__input {
    margin: .5em 0;
    padding: 1em;
    min-height: 200px;
    resize: none;
    background-color: #555;
    color: var(--body-txt);
    border: 1px solid #eee;
    border-radius: 10px;
    outline: none;
}

.test__btn__container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.test__ans__btn {
    margin: 1em 0;
    padding: .5em;
    font-size: 24px;
    background-color: var(--nav-bg);
    color: var(--body-txt);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    opacity: .8;
}

.test__ans__btn:hover {
    transition: .5s;
    opacity: 1;
}

.test__btn {
    width: 75px;
    margin: 1em 0;
    padding: .75em;
    border: none;
    border-radius: 6px;
    background-color: #888;
    outline: none;
    cursor: pointer;
}

.test__btn:hover {
    transition: .5s;
    background-color: #999;
}

.test__audio {
    width: fit-content;
    padding: 1em 0;
    background-color: transparent;
    color: var(--body-txt);
    border: none;
    font-size: 36px;
    cursor: pointer;
}

.test__audio:hover {
    transition: .5s;
    color: lightgreen;
}