.test__card {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    padding: 2em;
    /* background-color: #444; */
    border-radius: 10px ;
}

.test__instruction {
    margin: .5em 0;
    font-size: 22px;
}

.test__question {
    margin: .5em 0;
    font-size: 32px;
}

.test__input {
    margin: .5em 0;
    padding: 1em;
    min-height: 200px;
    resize: none;
    background-color: #555;
    color: var(--body-txt);
    border: 1px solid #eee;
    border-radius: 10px;
    outline: none;
}

.test__input__empty {
    border-color: red;
    color: red;
}
.test__input__empty::placeholder {
    color: red;
}

.test__btn__container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.test__ans__btn {
    margin: 1em 0;
    padding: .5em;
    font-size: 24px;
    background-color: var(--nav-bg);
    color: var(--body-txt);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    opacity: .8;
}

.test__ans__btn:hover {
    transition: .5s;
    opacity: 1;
}

.test__btn {
    width: 75px;
    margin: 1em 0;
    padding: .75em;
    border: none;
    border-radius: 6px;
    background-color: #888;
    outline: none;
    cursor: pointer;
}

.test__btn:hover {
    transition: .5s;
    background-color: #999;
}

.test__btn__active {
    border: 1px solid rgb(0, 255, 0);
    opacity: 1;
}

.test__audio {
    width: fit-content;
    padding: 1em 0;
    background-color: transparent;
    color: var(--body-txt);
    border: none;
    font-size: 36px;
    cursor: pointer;
}

.test__audio:hover {
    transition: .5s;
    color: lightgreen;
}

/* FINISH */
.finish__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.finish__card {
    display: flex;
    flex-wrap: wrap;
}

.finnis__item {
    padding: 1em;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.finish__item__correct {
    background-color: rgb(125, 244, 125);
    color: rgb(17, 72, 17);
}

.finish__item__incorrect {
    background-color: rgb(219, 63, 63);
    color: rgb(251, 165, 165);
}

.finish__question {
    margin: .5em 0;
    font-size: 18px;
}

.finish__answer {
    padding: .25em;
    border: 1px solid rgb(255, 211, 211);
    border-radius: 6px;
    font-weight: 900;
    font-size: 20px;
}

.finish__btn {
    padding: .75em;
    margin: 2em auto;
    width: fit-content;
    border-radius: 6px;
    background-color: var(--nav-bg);
    color: var(--body-txt);
    text-decoration: none;
    cursor: pointer;
    opacity: .8;
}

.finish__btn:hover {
    transition: .5s;
    opacity: 1;
}