.landing__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing__card input {
    margin: 1em;
    padding: .5em;
    width: 250px;
    border-radius: 5px;
}

.login__card {

}

.register__card {

}

.logreg_btn {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    padding: .15em;
    cursor: pointer;
}

.landing__info {
    margin: 2em;
    font-size: 12px;
}

.landing__btn {
    padding: .5em;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: transparent;
    color: #eee;
    cursor: pointer;
}

.landing__btn:hover {
    transition: .5s;
    background-color: #009900;
    /* color: #222; */
}

@media only screen and (min-width: 800px) {
    
}
