{% extends "subjunctive/base.html" %}

{% block content %}


    <div>
        <p>{{ group.group }}</p>
    </div>

    <div>
        <h3 class="sent-el" id="sentEl">Sentence</h3>
        <button class="play-btn" id="playBtn">Play</button>
        <textarea class="sent-text" id="sentText"></textarea>
        <button class="go-btn" id="goBtn">Go</button>
    </div>

    <div>
        {% for sentence in sentences %}
            <p>{{ sentence.sentence_spa }}</p>
        {% endfor %}
    </div>

{% load static %}
<script src="{% static 'subjunctive/js/practice.js' %}" defer></script>


{% endblock content %}